.navDiv {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.navUl {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navUl > li {
  color: rgb(255, 255, 255);
}
